@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1; /* Ensure it is behind all content */
  pointer-events: none; /* Prevent it from interfering with other elements */
}

@media (min-width: 768px) {
  body::before {
    background-image: url("/fm-interactive-details-form/images/bg-main-desktop.png");
    max-width: 30dvw; /* Set the maximum width for the background image */
    height: 100%;
  }
}

@media (max-width: 767px) {
  body::before {
    background-image: url("/fm-interactive-details-for/images/bg-main-mobile.png");
    max-height: 240px; /* Set the maximum width for the background image */
    width: 100%;
  }
}
